@charset "UTF-8";
html {
    background-color: #000000;
}



body {
    background-image: url(imagens/Barbearia\ \(1\).png);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    
}

h1 {
    color: #ffbd59;
}

h2, h3, p, footer {
    color: #f1e4d8;
}

table {
    background-image: linear-gradient(#000000, #5225003d, #000000);
    border: 2px solid;
    border-radius: 1em;    
    border-color: #f1e4d89a;   
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;  
    
}

th {
    padding-bottom: 1em;
}

td {
    padding: 15px;
    border: 1px solid;
    border-radius: 1em;
    color: #f1e4d8; 
    font-size: 15px;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #ffbd59;
    text-decoration: none;
    margin: 10px;
}

footer {
    border: 1px solid;
    border-radius: 0.5em;
    margin: 1em; 
    display: flex;  
}

address {
    padding: 5px;
    font-family: 'Roboto', sans-serif;  
    text-align: center;  
}

button {
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: #000000de;
    color: #f1e4d8;
    cursor: pointer;
    font-weight: bold; 
}

select, option{
    text-align: center;
    font-weight: bold;    
}

.imagem-barbeiro  {
    border: 2px solid;
    border-radius: 7rem;
    color: #ffbd59;
}

.content {
    background-image: linear-gradient(#000000, #5225003d);                                  
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputs, select {
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    border: 2px solid;
    border-color: #f1e4d8;
    background-color: #000000b3;
    color: #ffbd59;    
    box-sizing: border-box;
    transition: .6s;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
}

.inputs:focus {
    border-color: #ffbd59;
}

.inputs::placeholder {
    color: #292929;
}

.span-required, .span-dia {
    display: none;
    font-size: 0.9rem;
    margin: 3px 0 0 1px;
    color: #e63636;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listaServicos {
    color: #f1e4d8; 
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-radio {
    display: none;
}

#logo {
    image-resolution: 100px;
}

#span-data {
    margin: 5px 0 1rem;
}

#date-input {
    margin: 0 0 15px;
}








