@charset "UTF-8";
html {
    background-color: #000000;
}
body {
    background-image: url(imagens/Barbearia\ 2.png);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    color: #ffbd59;
    margin-top: 0px;
}

h2, h3, p, footer {
    color: #f1e4d8;
}

table {
    background-color: #000000c8;
    border: 2px solid;
    border-radius: 10px;    
    border-color: #f1e4d89a;   
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em; 
    width: 100%; 
}

th {
    padding-bottom: 1em;
}

td {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    color: #f1e4d8; 
    font-size: 15px;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #ffbd59;
    text-decoration: none;
    margin: 5px;
}

footer {
    margin: 1em;
}

address {
    padding: 1rem; 
    text-align: center; 
    
}

button {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid;
    border-color: #f1e4d8;
    margin-top: 12px;
    background-color: #000000de;
    color: #f1e4d8;
    cursor: pointer;
    font-weight: bold; 
}

select, option{
    text-align: center;
    font-weight: bold; 
}

.imagem-barbeiro  {    
    border-radius: 8rem;
    color: #ffbd59;
}

.content {
    background-image: linear-gradient(#000000, #5225003d);                                  
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputs, select {
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    border: 2px solid;
    border-color: #f1e4d8;
    background-color: #000000b3;
    color: #ffbd59;    
    box-sizing: border-box;
    transition: .6s;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
}

.inputs:focus {
    border-color: #ffbd59;
}

.inputs::placeholder {
    color: #292929;
}

.span-required, .span-dia {
    display: none;
    font-size: 0.9rem;
    margin: 3px 0 0 1px;
    color: #e63636;
}


.social-image {
    width: 30px;
    height: 30px;
}

.listaServicos {
    color: #f1e4d8; 
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="radio"] {
  appearance: none;
  outline: none;
  border: none;
}

.opcao {
    background-color: #000000;
}

#logo {    
    margin: 1rem;
}

#logo-contato {
    width: 75px;
}

#span-data {
    margin: 5px 0 1rem;
}

#date-input {
    margin: 0 0 15px;
}

#contato {
    text-align: center;  
    background-image: linear-gradient(#5225003d, #000000c4,#000000eb, #000000f8, #000000fe );  
}

#social {    
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#edson, #edilson, #bruno {
    display: flex;
}

#lista-social {
    border: 2px solid;
    border-color: #ffbd59;
    border-radius: 20px;
    padding-right: 40px;
    list-style-type: none;
}

#cliente {
    background-color: #000000d0;
    border: 2px solid;
    border-color: #ffbd59;
    border-radius: 15px;
    padding: 20px;
}

#span-select {
    color: #ffbd59;
    font-size: 2rem;
    display: none;
}

#agendado {
    font-size: 4rem;
}

#check {
    width: 5rem;
    height: auto;
}

#lista-resumo {
    border: 2px solid;
    border-radius: 1rem; 
    border-color: #ffbd59;
    text-align: left;
    padding: 15px 15px 15px 25px;
    color: #f1e4d8;
    background-color: #000000d0;
    list-style-type: "- ";
}
#cliente {
    display: block;
}

#barbeiro {
    display: none;
}

#servico {
    display: none;
}

#data {
    display: none;
}

#final {
    display: none;
}

#resumo {    
    border-radius: 15px;
    background-color: #000000d0;
    margin: 20px;
    padding: 2px 2px 1rem 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none;
    
}

#botao-formulario {
    display: block;
}

#botoes {    
    gap: 5px;
}

#botao-agendar {    
    border: 3px solid;
    border-color: #ffbd59;
    color: #ffbd59;
    font-size: 1.5rem;
}













